@import "../../../style-variables/variables.scss";

.menuWrapper {
  color: $secondary;
  height: 800px;
  left: 0;
  margin-left: 1em;
  margin-right: 1em;
  overflow-y: scroll;
  padding: 0.5em;
  position: sticky;
  top: 0;

  .products {
    font-weight: $bold;
    padding: 0.5em 0.5em 0.5em 0;
    text-decoration: underline;

    &:hover {
      background-color: $secondary;
      color: $link;
      cursor: pointer;
    }
  }

  .title {
    font-weight: $bold;
    margin-top: 1em;
    text-decoration: underline;
  }
}

@media (max-width: 820px) {
  .show {
    background-color: $secondary;
    color: $primary;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    top: 0.4%;
    width: 100%;
    z-index: 1;

    .products {
      font-weight: $bold;
      padding: 0;
      text-decoration: underline;
    }

    .title {
      font-weight: $bold;
      margin: 0;
      text-decoration: underline;
    }
  }

  .menuWrapper {
    display: none;
  }
}

@media (max-width: 414px) {
  .show {
    top: 0.3%;
    flex: content;
    flex-wrap: wrap;
  }

  .menuWrapper {
    display: none;
  }
}
