@import "../../../style-variables/variables.scss";

.container {
  align-items: center;
  background-color: $secondary;
  box-shadow: 2px -2px 5px 3px $shadow;
  color: $primary;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 50%;

  .title {
    margin: 0;
    text-decoration: underline;
  }
}

@media (max-width: 912px) {
  .container {
    width: 100%;
  }
}
