@import "../../../../style-variables/variables.scss";

.navLink {
  align-items: center;
  display: flex;
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
