@import "../../../../style-variables/variables.scss";

.navLinkWrapper {
  align-items: center;
  display: flex;
  .navLink {
    align-items: center;
    display: flex;
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
