@import "../../style-variables/variables.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 2em;
  transform: translateY(100px);

  &.height {
    height: 100vh;
  }

  & h1 {
    color: $secondary;
    margin-top: 0;
    text-decoration: underline;
  }

  .mainWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .productsWrapper {
      width: 100%;
    }
  }
}

@media (max-width: 912px) {
  .container {
    .mainWrapper {
      align-items: center;
      flex-direction: column-reverse;
    }
  }
}
