@import "../../../style-variables/variables.scss";

.card {
  background-color: $secondary;
  box-shadow: 2px -2px 8px 3px $shadow;
  display: flex;
  height: 200px;
  margin-bottom: 1em;
  padding: 1em;
  width: 70%;

  .mainWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;

    .infoWrapper {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}

@media (max-width: 912px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .card {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}
