@import "../../../../style-variables/variables.scss";

.btnWrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  width: 100%;

  .btn {
    align-items: center;
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: $secondary;
    display: flex;
    font-family: $merriweather;
    font-size: 20px;
    gap: 0.2em;
    padding: 0.25em 1em;

    &:hover {
      background-color: $link;
      cursor: pointer;
      font-weight: $bold;
      text-decoration: underline;
    }
  }
}

@media (max-width: 540px) {
  .btnWrapper {
    .btn {
      font-size: 16px;
    }
  }
}
