@import "../../../style-variables/variables.scss";

.container {
  align-items: center;
  background-color: $secondary;
  box-shadow: 2px -2px 5px 3px $shadow;
  color: $primary;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
  padding: 1em;
  width: 30%;

  & h3 {
    margin: 0;
  }

  .btn {
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: $secondary;
    font-family: $merriweather;
    font-size: 15px;
    padding: 0.5em 1em;

    &:hover {
      background-color: $link;
      cursor: pointer;
      font-weight: $bold;
      text-decoration: underline;
    }
  }

  hr {
    width: 100%;
  }

  .info {
    padding: 0.5em;
  }

  .title {
    text-decoration: underline;
  }
}

@media (max-width: 912px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 100%;
  }
}
