@import "../../../../style-variables/variables.scss";

.shipping {
  align-items: center;
  background-color: $secondary;
  border-radius: 8px;
  box-shadow: 2px -2px 10px 3px $shadow;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-evenly;
  padding: 1em;
  width: 60%;

  & h2 {
    margin-top: 0;
    font-size: 30px;
  }

  .error {
    background-color: $error;
    border-color: $error;
  }

  .inputControl {
    align-items: center;
    display: flex;
    flex-direction: column;

    & label {
      font-size: 20px;
    }

    &.wide {
      margin: 0;
      width: 100%;
    }

    .input {
      border: none;
      border-radius: 8px;
      font-size: 20px;
      justify-self: center;
      padding: 0.5em;

      &.email {
        width: 400px;
      }

      &.fullName {
        width: 400px;
      }

      &.street {
        width: 84%;
      }

      &.zip {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          appearance: none;
        }

        &[type="number"] {
          appearance: none;
        }
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    width: 100%;
  }
}

@media (max-width: 1368px) {
  .shipping {
    height: fit-content;

    .inputControl {
      .input {
        display: flex;

        &.email {
          width: 350px;
        }

        &.fullName {
          width: 350px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .shipping {
    .inputControl {
      .input {
        display: flex;

        &.email {
          width: 90%;
        }

        &.fullName {
          width: 90%;
        }
      }
    }

    .wrapper {
      & input {
        width: 80%;
      }
    }
  }
}

@media (max-width: 768px) {
  .shipping {
    width: 100%;
    .inputControl {
      .input {
        width: 100%;

        &.email {
          width: 100%;
        }

        &.fullName {
          width: 100%;
        }

        &.street {
          width: 100%;
        }
      }
    }
    .wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
