@import "../../style-variables/variables.scss";

.container {
  align-items: center;
  background-color: $secondary;
  box-shadow: 5px 0 15px 8px $shadow;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 1em;
  position: fixed;
  width: 100%;
  z-index: 1;

  .bars {
    font-size: 30px;
    display: none;
  }
}

@media (max-width: 820px) {
  .container {
    .bars {
      display: initial;
    }
  }
}
