@import "../../../style-variables/variables.scss";

.card {
  background-color: $secondary;
  box-shadow: 4px -4px 8px 3px $shadow;
  color: $primary;
  display: flex;

  .mainWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .description {
      font-size: 20px;
      margin-top: 2em;
    }

    .infoWrapper {
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      margin: 2em;
      width: 100%;
    }

    .line {
      color: black;
      height: 2px;
      width: 100%;
    }

    .title {
      font-size: 35px;
      margin: 0;
      text-decoration: underline;
    }
  }
}
