@import "../../style-variables/variables.scss";

.container {
  align-items: center;
  background-color: $secondary;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  z-index: 1;
}
