@import "../../style-variables/variables.scss";

.container {
  align-items: center;
  background-color: $secondary;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  z-index: 1;
}

@media (max-width: 414px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}
