@import "../../../../style-variables/variables.scss";

.buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  .btn {
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: $secondary;
    font-family: $merriweather;
    font-size: 15px;
    padding: 0.5em 1em;
    text-transform: uppercase;

    &:hover {
      background-color: $link;
      cursor: pointer;
      font-weight: $bold;
      text-decoration: underline;
    }

    .icon {
      margin-right: 0.25em;
    }
  }
}

@media (max-width: 414px) {
  .buttonWrapper {
    gap: 0.5em;
  }
}
