@import "../../../../style-variables/variables.scss";

.inputControl {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  width: 100%;

  .errorMessage {
    color: $error;
    margin: 0;
  }

  .inputStyle {
    border: none;
    border-radius: 8px;
    padding: 0.5em;
    width: 45%;
  }
}

@media (max-width: 412px) {
  .inputControl {
    .inputStyle {
      width: 100%;
    }
  }
}
