.container {
  display: flex;
  height: fit-content;
  margin-bottom: 7em;
  transform: translateY(100px);
  width: 100%;

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }
}
