@import "../../style-variables/variables.scss";

.container {
  display: flex;
  height: fit-content;
  transform: translateY(100px);
  width: 100%;

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }

  .loading {
    color: $secondary;
  }

  .menu {
    align-self: center;
    background-color: $secondary;
    border: none;
    border-radius: 5px;
    color: $primary;
    display: none;
    font-size: 30px;
    padding: 0.25em 0.5em;
  }
}

@media (max-width: 820px) {
  .container {
    flex-direction: column;

    .cardWrapper {
      width: 100%;
    }

    .menu {
      display: initial;
    }
  }
}
