@import "../../../style-variables/variables.scss";

.list {
  display: flex;
  gap: 2em;

  .size {
    align-items: center;
    background-color: $primary;
    border-radius: 50%;
    color: $secondary;
    display: flex;
    font-weight: $bold;
    height: 20px;
    justify-content: center;
    margin-left: 0.25em;
    width: 20px;
  }

  .icon {
    margin: 0.25em;
  }

  .logout {
    align-items: center;
    cursor: pointer;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}
