.list {
  display: flex;
  gap: 2em;

  .icon {
    margin: 0.25em;
  }

  .logout {
    align-items: center;
    cursor: pointer;
    display: flex;

    &:hover {
      text-decoration: underline;
    }
  }
}
