.imageWrapper {
  height: 200px;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  .image {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1180px) {
  .imageWrapper {
    height: 175px;
  }
}

@media (max-width: 820px) {
  .imageWrapper {
    height: 125px;
  }
}
